.Modal {
  position: fixed;
  inset: 0;
}

.Modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal-content {
  width: 960px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background: #fff;
  overflow: hidden;
}


.Modal_show_open .Modal-content {
  animation: modalOpen 0.3s ease-in-out;
}

.Modal_unShow_close .Modal-content {
  animation: modalClose 0.3s ease-in-out;
}

@keyframes modalOpen {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}

@keyframes modalClose {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.2);
  }
}
